$primary: #75b8c8;
$secondary: #260c1a;
$tertiary:#fa824c;

.card-title.h5 {
    font-weight: 500;
    text-align: center !important;
}

div.card {
    display: grid;
    grid-template-rows: 1fr auto;
}

.card-body {
    align-self: end;
    justify-items: flex-end;
    min-height: 23rem; 
}

.card-img-top {
    height: 18.75rem;
    padding: 0.625rem;
}

@media all and (max-width: 767px) {
    .card-img-top {
        height: 400px;
        width: 300px;
        padding-top: 40px;
    }
    .card-body {
        padding: 50px;
    }
}

@media all and (max-width: 500px) {
    .card-img-top {
        // width: 300px;
    }
}

.movie-poster {
    display: inline;
}

.link.card-title.h5 {
    color: $tertiary;
    font-size: 1.875rem;
} 

.link.card-title.h5:hover {
    color: $primary;
    text-decoration: none;
}

.text {
    font-weight: normal;
    color: $secondary;
}

.truncate-overflow {
    --max-lines: 10;
    position: relative;
    max-height: calc((1.35rem) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem;
}

.truncate-overflow::before {
    position: absolute;
    content: "...";
    bottom: 0;
    right: 13px;
}

.truncate-overflow::after {
    content: "";
    position: absolute;
    right: 13px;
    width: 1rem;
    height: 2rem;
    background: white;
}