.app-container {
    background-color: #75b8c8;
}

html {
    background-color: #75b8c8;
}

.text {
    color: #e2f9b8 !important;
}

.navbar {
    background-color: #28536b !important;
    color: #e2f9b8 !important;
    justify-content: center !important;
}