$primary: #75b8c8;
$secondary: #260c1a;
$tertiary:#fa824c;

.logout.btn.btn-primary {
    border-style: groove;
}

.navbar {
	background-color: $secondary;
	color: $primary !important;
    box-shadow: -3px 22px 29px -10px slategrey;
}

#dropdown-basic-button {
    width: auto;
    margin: 10px;
}

.navbar-toggler-icon {
    position: absolute;
    right: 2.5625rem;
    top: 1.625rem;
    background-color: $tertiary !important;
    border-radius: .25rem;
}

a.main-view.nav-link,
form.form-inline,
div.dropdown {
    text-align: right !important;
}

.navbar-toggler {
    border: none;
}

@media all and (max-width: 500px) {
    .card-img-top {
        max-width: 6.25rem !important;
    }
}