$primary: #75b8c8;
$secondary: #260c1a;
$tertiary:#fa824c;

.logout.btn.btn-primary {
    border-style: groove;
}

.navbar {
	background-color: $secondary;
	color: $primary !important;
}

.nav-login {
    float: right;
    display: inline;
}

.inline {
    float: left;
}

.nav-link {
    color: $tertiary !important;
}

#dropdown-basic-button {
    width: 90px;
    margin: 10px;
}

div.dropdown {
    text-align: right !important;
    // display: flex;
}

.logout {
    color: $secondary;
}

.logout:hover {
    color: black;
}

.navbar-toggler {
    border: none;
}

@media all and (max-width: 500px) {
    .card-img-top {
        max-width: 100px !important;
    }
}
