$primary: #75b8c8;
$secondary: #260c1a;
$tertiary:#fa824c;

.genre-view {
    background-color: $secondary;
    color: white;
    padding: 20px 40px;
}

.genre-name {
    color: $tertiary;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.value.genre-text {
    padding: 30px;
}

.genre-movie-title {
    color: $tertiary;
}

.body {
    font-weight: bold;
    color: $primary;
    margin-left: 4px;
}

.back {
    text-align: center;
}

.genre-card {
    width: 100px;
    height: 145px;
}

.genre-img {
    padding: 0;
    display: inline;
    width: 85%;
    max-height: 140px;
    max-width: 100px;
    margin: 10px;
}

.text-center {
    display: inline;
}

div.genre-card.text-center.mt-2.mb-4.card {
    display: inline !important;
    background-color: $secondary;
}