$primary: #75b8c8;
$secondary: #260c1a;
$tertiary:#fa824c;

.genre-view {
    background-color: $secondary;
    color: white;
    padding: 1.25rem 2.5rem;
}

.genre-name {
    color: $tertiary;
    font-size: 1.875rem;
    text-align: center;
    padding-bottom: 1.25rem;
}

.value.genre-text {
    padding: 1.875rem;
}

.genre-movie-title {
    color: $tertiary;
}

.body {
    font-weight: bold;
    color: $primary;
    margin-left: 4px;
}

.back {
    text-align: center;
}

.genre-card {
    width: 6.25rem;
    height: 9.0625rem;
}

.genre-img {
    padding: 0;
    display: inline;
    width: 85%;
    max-height: 140px;
    max-width: 6.25rem;
    margin: 0.625rem;
}

.text-center {
    display: inline;
}

div.genre-card.text-center.mt-2.mb-4.card {
    display: inline !important;
    background-color: $secondary;
}