$primary: #75b8c8;
$secondary: #260c1a;
$tertiary:#fa824c;

.text {
    font-weight: 650;
}

.effect {
    text-align: center;
    display: inline-block;
    position: relative;
    
    font: {
      family: 'Roboto', sans-serif;
      size: 18px;
    }
    padding: 20px 0px;
    width: 150px;
    border-radius: 10px;
    overflow: hidden;
  }

.loginBtn {
    width: 230px !important;
    transition: all 0.2s linear 0s;
}

// .loginBtn:before {
//     content: "test";
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     position: absolute;
//     top: 0;
//     left: 0px;
//     height: 100%;
//     width: 30px;
//     background-color: rgba(0, 0, 0, 0.3);
//     border-radius: 0 50% 50% 0;
//     transform: scale(0,1);
//     transform-origin: left center;
//     transition: all 0.2s linear 0s;
// }

// .loginBtn:hover {
//     text-indent: 30px
// }

// .loginBtn:hover:before {
//     transform: scale(1, 1);
//     text-indent: 0;
// }
.effect.loginBtn {
    transition: all 0.2s linear 0s;
    
    &:before {
      content: ">";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0px;
      height: 100%;
      width: 60px;
      background-color: rgba($secondary ,0.3);
    //   border-radius: 0 30% 30% 0;
      transform: scale(0,1);
      transform-origin: left center;
      transition: all 0.2s linear 0s;
    }
    
     &:hover {
      text-indent: 30px;
      
      &:before {
        transform: scale(1,1);
        text-indent: 0;
      }
    }
}

.welcomeHeader {
    background-image: url(./img/movies.jpg);
    background-position: center;
    background-size: cover;
    height: 15%;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    position: fixed;
}

.welcomeText {
    margin: 4% auto;
    font-size: 70px !important;
    opacity: 1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #260c1a;
}

.center {
    text-align: center;
}

.text {
    margin-top: 10px;
    display: block;
}

.input {
    width: 400px !important;
}
