$primary: #75b8c8;
$secondary: #260c1a;
$tertiary:#fa824c;

.text {
    font-weight: 650;
    margin-top: 10px;
    display: block;
}

.effect {
    position: relative;
    overflow: hidden;
}

.loginBtn {
    width: 230px !important;
    transition: all 0.2s linear 0s;
}

.effect.loginBtn {
    transition: all 0.2s linear 0s;
    
    &:before {
      content: ">";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0px;
      height: 100%;
      width: 60px;
      background-color: rgba($secondary ,0.3);
      transform: scale(0,1);
      transform-origin: left center;
      transition: all 0.2s linear 0s;
    }
    
     &:hover {
      text-indent: 30px;
      
      &:before {
        transform: scale(1,1);
        text-indent: 0;
      }
    }
}

.welcomeHeader {
    background-image: url(./img/movies.jpg);
    background-position: center;
    background-size: cover;
    height: 15%;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    position: fixed;
    z-index: 100;
}

.welcomeText {
    margin: 4% auto;
    font-size: 70px !important;
    opacity: 1;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #260c1a;
}

.center {
    text-align: center;
}

.input {
    width: 400px !important;
}
