$primary: #75b8c8;
$secondary: #260c1a;
$tertiary:#fa824c;

.app-container {
	background-color: $primary;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    min-height: 100%;
}

html {
    background-color: $primary;
}

.text {
	color: $secondary !important;
}

.btn-primary {
    background-color: $tertiary !important;
    color: $secondary !important;
    font-weight: 550 !important;
    border: none !important;
    width: 6.25rem;
    margin-top: 2.5rem;
}
.btn-primary:hover {
    background-color: $primary !important;
    border: 2px solid $secondary !important;
}

.btn-secondary {
    background-color: $secondary !important;
    color: white !important;
    border: none !important;
    margin-top: 0.625rem;
}

.btn-outline-success {
    border: none;
    color: $tertiary !important;
}

h1 {
    font-size: 2.5rem;
    -webkit-text-stroke: 0.0125rem;
    -webkit-text-stroke-color: $tertiary;
}

h2 {
    color: $tertiary !important;
    -webkit-text-stroke: 0.0375rem;
    -webkit-text-stroke-color: $secondary;
    margin: 0.875rem;
    font-size: 2.7rem !important;
}

.card-title.h5 {
    font-weight: 500;
    text-align: center !important;
}

.navbar-toggler-icon {
    position: absolute;
    right: 2.5625rem;
    top: 1.625rem;
    background-color: $tertiary !important;
    border-radius: .25rem;
}

div.card {
    display: grid;
    grid-template-rows: 1fr auto;
}

.card-body {
    align-self: end;
    justify-items: flex-end;
    min-height: 25rem; 
    display: flex;
    flex-direction: column;
}

.card-body button {
    margin-top: auto;
}

.card-img-top {
    height: 18.75rem;
    padding: 0.625rem;
}


.left {
    text-align: left !important;
}


