$primary: #75b8c8;
$secondary: #260c1a;
$tertiary:#fa824c;

.director-view {
    background-color: $secondary;
    color: white;
    padding: 1.875rem 2.5rem;
    
}

.director-name {
    color: $tertiary;
    font-size: 1.875rem;
    text-align: center;
    margin-top: 3.75rem;
}

.director-birth {
    margin-top: 1.875rem;
}

.body {
    font-weight: bold;
    color: $primary;
}

.bio-text {
    width: 70%;
    margin: 0.3125rem auto;
}

.dir-img {
    width: 90%;
    max-width: 11.875rem;
    margin: 1.25rem auto;
    padding: 0;
}

.director-movies {
    max-width: 9.375rem;
}

.director-movie-title {
    margin: 1.25rem auto !important;
}

.director-card {
    width: 6.25rem;
    height: 9.0625rem;
}

div.director-card.text-center.mt-2.card {
    display: inline !important;
    margin: 0.3125rem;
    background-color: $secondary;
}

.director-img {
    padding: 0;
    width: 85%;
    display: inline !important;
    max-width: 9.375rem;
    margin-top: 0;
}
